.days {
  overflow-y: scroll;
  border-radius: 10px;
  padding: 0 10px;
}

.day {
  border-top: 1px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.day img {
  width: 50px;
}

.meter {
  display: flex;
}

.meter p {
  margin: 0 5px;
}
