.main-wrapper {
  position: relative;
  width: 375px; /* iPhone SE dimensions */
  height: 667px; /* iPhone SE dimensions */
  border: 3px solid #09aa71;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  background-color: white;
}

.content-wrapper {
  height: 100%;
  overflow-y: scroll;
}

.window-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

#search-bar {
  margin: 20px 0;
}
