.basic-wrapper {
  width: 340px;
  height: 590px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  background-image: linear-gradient(300deg, #e5c059, var(--basicWrapper));
}

.sci-wrapper {
  width: 240px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -2px 2px 4px black;
  background-image: linear-gradient(-300deg, var(--wrapper), #e5c059);
}
